[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
fastapi-pagination = "*"
fastapi-mail = "*"
alembic = "*"
databases = "*"
environs = "*"
asyncpg = "*"
psycopg2-binary = "*"
passlib = "*"
python-jose = "*"
pytest = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
